/* Tailwind layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- تنظیمات کلی سایت --- */

:root {
  color-scheme: dark;
}

html {
  direction: rtl;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}